:root {
  --primary: #00EBFF;
  --primary-dark: #00C4FF;
  --danger: #FF0042;
  --danger-dark: #C30034;
  --brand-1: #009dff;

  /* background colors */
  --background-color-light: #C3C9CB;
  --background-color-dark: #232222;

  /* toolbar colors */
  --toolbar-bg-color-light: #F1F4F9;
  --toolbar-bg-color-dark: #282A34;

  /* text colors */
  --text-color-light: #2C2C2C;
  --text-color-dark: #FAFBFD;

  /* border colors */
  --border-color-light: #aab2b4;
  --border-color-dark: #aab2b4;
}

:root {
  --background-color: var(--background-color-light);
  --toolbar-bg-color: var(--toolbar-bg-color-light);
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --toolbar-bg-color: var(--toolbar-bg-color-dark);
    --text-color: var(--text-color-dark);
    --border-color: var(--border-color-dark);
  }
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --toolbar-bg-color: var(--toolbar-bg-color-light);
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --toolbar-bg-color: var(--toolbar-bg-color-dark);
  --text-color: var(--text-color-dark);
  --border-color: var(--border-color-dark);
}

.lower-canvas {
  position: initial !important;
}